

@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(239, 237, 242);
}
* {
  font-family: var(--font-Shabnam);
  box-sizing: border-box;
  border: none;
}
.grid-rtl {
  direction: ltr;
}
.shadow-md {
  z-index: 8; 
}
.reverceRtl{
  direction: rtl;
}
html, body {
  overflow-x: hidden;
}

.custom-icon {
  stroke-width: 3px; 
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #B6ADC2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B6ADC2;
}





.your-scrollable-div {
  direction: ltr; 
}

.your-scrollable-div > * {
  direction: rtl; 
}